
/*评论*/
/*发布评论*/
.comments-area{
	width:100%;
	margin:3rem auto;
	position:relative;
}

.response-show-btn{
	display:none;
	position:fixed;
	right:10px;
	bottom:10px;
}
@media screen and (max-width:700px){
	.comment_info li{
		width:98%;
		margin:0 1% 0 1%;
		margin-bottom:10px;
		max-width:300px;
	}
}


.avatar{
	border-radius:50%;
}
.bottom-comment-bar{
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	background-color:#fff;
	padding:10px 0 10px 50px;
}
.side .bottom-comment-bar{
	padding-left:300px;
}
.bottom-comment-bar .respond-box{
	max-width:830px;
	position:relative;
	width:100%;
    padding:0 50px;
	margin:0 auto;
}
.respond-box .comment-author-avatar .avatar{
	position:absolute;
	left:0;
	top:0;
	margin-top:5px;
	margin-left:5px;
	width:40px;
	height:40px;
}
.comment-author-avatar .avatar:hover{
	box-shadow:2px 2px 3px #ddd;
	cursor:pointer;
}
.comment-author-tooltip{
	position:absolute;
	height:40px;
	line-height:30px;
	background-color:rgba(0,0,0,.5);
	top:-55px;
	left:6px;
	border-radius:3px;
	color:#fff;
	padding:5px 10px;
	opacity:0;
}
.comment-author-tooltip a{
	color:#fff;
}
.comment-author-tooltip:after{
	content:"";
    border-style: solid;
    border-width: 8px 8px 0 8px;
	border-color: rgba(0,0,0,.5) transparent transparent transparent;
	position: absolute;
    top: 40px;
    left: 10px;
    width: 0;
    height: 0;
}
.comment-author-info:hover .comment-author-tooltip{
	opacity:1;
}
/*个人信息输入框*/
.comment-author-input-mask{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:444;
	background-color:rgba(0,0,0,.7);
	display:none;
}
.comment-author-input{
	position:fixed;
	max-width:320px;
	width:100%;
	top:100px;
	left:50%;
	margin-left:-160px;
	border:1px solid #e6eaea;
	background-color:#fff;
	box-shadow:3px 3px 5px #666;
	padding:1.5rem 1rem;
	z-index:555;
	border-radius:5px;
	opacity:0;
	margin-top:0;
}
.comment-author-input.show{
	opacity:1;
	margin-top:50px;
}
.comment-author-input-avatar{
	text-align:center;
	margin-bottom:10px;
}
.comment-author-input p{
	margin-bottom:10px!important;
}
.comment-author-input p.small{
	color:#999;
	font-size:.9rem;
}
.comment-author-input li{
	width:100%;
	margin:0 0 1rem 0;
	float:left;
}
.comment-author-input li label{
	position:absolute;
	padding:0 5px;
	font-size:20px;
	line-height:30px;
	color:#666;
	vertical-align:middle;
}
.input-text{
	font-family:"OpenSans","微软雅黑","宋体",Arial,Verdana,arial,serif;
	line-height:30px;
	padding:3px 5px 3px 30px;
	font-size:1rem;
	width:100%;
	border-bottom:1px solid #fff;
}
.input-text:focus{
	outline:none;
	border-bottom-color:#ccc;
}

/*评论框*/
.respond-box .textarea{
	width:100%;
	border:0;
	font-size:1rem;
	line-height:25px;
	height:45px;
	color:#666;
	font-family:"微软雅黑";
	padding:10px;
	resize:none;
	border-color:#fff;
}
.respond-box .textarea:focus{
	outline:none;
}
.submit{
	background:none;
	color:#00ADB5;
	cursor:pointer;
	font-size:1.8rem;
	border:0;
	line-height:45px;
	position:absolute;
	right:5px;
	top:0;
}
.submit[disabled]{
	color:#ccc;
}

/*评论表情*/
.smiley{
	opacity:0;
	height:0;
}
.smiley img{
	width:26px;
	margin-right:3px;
}
.wp-smiley{
	width:26px;
	height:auto;
}




@media screen and (max-width:1280px){
	.bottom-comment-bar{
		padding-right:0;
	}
	.bottom-comment-bar .respond-box{
		float:none;
		margin:0 auto;
	}
}
@media screen and (max-width:1000px){
	.bottom-comment-bar{
		padding-left:0;
	}
}

@media screen and (max-width:600px){
	.comment-author-input li{
		width:100%;
	}
}

/*评论框展开后样式*/
.bottom-comment-bar.on{
	border-top:1px solid #e6eaea;
	padding-bottom:30px;
}
.bottom-comment-bar.on .respond-box .textarea{
	border-bottom:1px solid #e6eaea;
}
.bottom-comment-mask{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:none;
}

/*ajax评论状态*/
.respond-status{
	position:absolute;
	width:100%;
	top:-35px;
	line-height:35px;
	left:0;
	text-align:center;
	z-index:1111;
}
.loading,.warning,.success,.info{
	display:none;
}
.loading{
	background-color:#fcf8e3;
	color:#f0ad4e
}
.warning{
	background-color:#f2dede;
	color:#d9534f;
}
.success{
	background-color:#dff0d8;
	color:#398439
}
.info{
	background-color:#d9edf7;
	color:#428bca
}
.info a{
	color:#428bca
}
/*
@media screen and (max-width:1000px){
	.bottom-comment-bar{
		width:100%;
		height:100%;
		z-index:9999;
	}
	.textarea{
		height:130px;
	}
	.response-show-btn{
		color:#fff;
		background-color:#00ADB5;
		display:inline-block;
		width:40px;
		height:40px;
		border-radius:50%;
		text-align:center;
		line-height:40px;
	}
}
*/

/*评论列表*/
.comment-list{
	margin-top:3rem;
}
.comment-list li{
	list-style:none!important;
	line-height:1.5rem;
	margin-bottom:1rem;
}
.comment-loading{
	background-color:#f0f0f0;
	border-radius:5px;
	padding:1rem;
}
.children{
	padding-left:1.5rem;
}
.comment-child{
	margin-top:1.5rem;
}
.comment-author{	
	vertical-align:middle;
	display:inline-block;
	width:50%;
	float:left;
	text-align:left;
	height:55px;
	line-height:40px;
}
.comment-author .avatar{
	float:left;
	margin-right:10px;
}
cite.fn{
	font-style:normal;
	margin-right:5px;
	color:#00ADB5;
}
cite.fn a{
	color:#00ADB5;
}
.comment-awaiting-moderation{
	line-height:50px;
	color:#787878;
}
.comment-meta{
	display:inline-block;
	width:50%;
	float:right;
	text-align:right;
	height:55px;
	
}
.comment-meta a{
	color:#666;
	font-size:0.8rem;
	line-height:40px;
}
.comment-meta:after{
	content:"";
	clear:both;
	display:block;
	margin-bottom:15px;
}
.reply{
	text-align:right;
	font-size:0.9rem;
	padding-bottom:10px;
	width:100%;
}
.cancel-comment-reply:before{
	clear:both;
	content:"";
	display:block;
}
.cancel-comment-reply{
	margin-bottom:.75rem;
}
.comment-content{
	line-height:32px;
	padding:0 20px 0 20px;
	display:inline-block;
	font-size:0.9rem;
	width:80%;
	float:right;
	color:#666;
	border-radius:5px;
	position:relative;
	border:1px solid #ccc;
	margin-left:2%;
	margin-bottom:0.75rem;
}
.comment-content:hover{
	background-color:#efefef;
}
.comment-content:before{
	content:"";
	border-style: solid;
    border-width: 7px 10px 7px 0;
	position:absolute;
	top:8px;
	left:-10px;
    border-color: transparent #ccc transparent transparent ;
}
.comment-content p{
	margin:0!important;
}
.comment-content img{
	margin:0!important;
}
@media screen and (max-width:700px){
	.comment-author,.comment-meta{
		width:100%;
	}
	.comment-meta{
		text-align:left;
		line-height:1.5rem;
	}
}
@media screen and (max-width:400px){
	.respond-box{
		padding-left:45px;
	}
	.submit{
		font-size:1.35rem;
	}
}