.top h1{
	font-size:2.3rem;
	margin:1.5rem 0;
	text-align:center;
	letter-spacing:2px;
}
.top h1:first-letter{
	
}
.top h1 small{
	
	margin-left:2em;
	font-size:1rem;
	font-weight:normal;
	letter-spacing:1px;
}
.top{
	padding:4rem 0;
}

/*相册展示*/
.photography{
	width:100%;
	height:350px;
	overflow:hidden;
	position:relative;
	
}
.pic_list{
	height:350px;
	transition-duration:0s;
}
.pic_list figure{
	display:inline-block;
	float:left;
	position:relative;
	overflow:hidden;
	margin:0;
	background-color:#ccc;
}
.pic_list figure img{
	vertical-align:bottom;
	margin:0!important;
	height:350px;
	width:auto;
	-webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
}
.pic_list figure:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,105px);
	transform: perspective(1000px) translate3d(0,0,105px);
}

.pic_list figure figcaption{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	padding: 2em;
	text-align:center;
}
.pic_list figure figcaption h2{
	opacity:0;
	margin-top: 20%;
	font-size:1.8rem;
	display:inline-block;
	padding:20px 20px;
	position:relative;
}
.pic_list figure figcaption h2:after,.pic_list figure figcaption h2:before{
	position:absolute;
	content:"";
	display:inline-block;
	width:0;
	height:2px;
	background-color:#fff;
	transition:width .35s;
}
.pic_list figure figcaption h2:after{
	bottom:0;
	left:0;	
}
.pic_list figure figcaption h2:before{
	top:0;
	right:0;
}
.pic_list figure:hover h2{
	opacity: 1;
}
.pic_list figure:hover figcaption h2:after,.pic_list figure:hover figcaption h2:before{
	width:100%;
}


#slide-prev,#slide-next{
	position:absolute;
	top:50%;
	display:inline-block;
	width:40px;
	height:50px;
	text-align:center;
	line-height:50px;
	margin-top:-25px;
	cursor:pointer;
	font-size:20px;
	z-index:33;
	opacity:0;
}
#slide-prev{
	left:0;
}
#slide-next{
	right:0;
}
#slide-prev i:before,#slide-next i:before{
	line-height:50px;
}
@media screen and (max-width:800px){
	.pic_list figure figcaption{
		display:none;
	}
}
.photography:hover #slide-prev,.photography:hover #slide-next{
	opacity:1;
}

.pic_list a{
	color:#fff;
}
.pic_list figure:hover figcaption{
	background-color:rgba(0,0,0,.5);
}
#slide-prev,#slide-next{
	background-color:rgba(255,255,255,.75);
}