/*Post Single*/
.main-content{
	
}
.content-wrap{
	max-width:830px;
	margin:0 auto;
	padding:4rem 15px 0 15px;
	width:100%;
}
.content img{
	max-width:100%;
	width:auto;
	margin-bottom:1rem;
}
.content p{
	margin-bottom:1rem;
}
.content-header{
	margin-bottom:3rem;
}

.content-header h1{
	margin:0 0 1.5rem 0;
	font-size:2.3rem;
	line-height:1.5em;
}
.content-header p.small em{
	margin-right:10px;
}
.content h2{
	font-size:1.8rem;
	line-height:2em;
	margin:1rem 0;
}

.content h3{
	font-size:1.35rem; 
	line-height:2em;
	margin:1rem 0;
}

.content ul,.content ol{
	padding-left:15px;
	margin-bottom:1rem;
}
.content ul>li{
	list-style:circle;
	list-style-position:inside;
}
.content ol>li{
	list-style-type: decimal;
	list-style-position:inside;
}
.content table{
	width:100%;
	border-collapse: collapse;
}
.content table tr{
	font-weight:bold;
}
.content table td{
	padding:8px;
}
.content code {
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.content pre{
	padding:20px;
	border-radius:10px;
	margin-bottom:1rem;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.content pre code{
	background:none;
}
.content blockquote{
	padding:10px 20px;
	margin:1rem 0;
}

.content-footer{
	margin:1.5rem 0;
}
.tags a{
	margin-right:5px;
	display:inline-block;
	padding:5px 13px;
	border-radius:5px;
}

.content-catalog{
	position:fixed;
	top:100px;
	left:50%;
	margin-left:445px;
	width:200px;
	text-align:left;

}
.content-catalog li{
	line-height:2rem;
	transition:none!important;
	cursor:pointer;
}
.content-catalog li.sub{
	text-indent:1em;
	display:none;
}
.content-catalog li i{
	margin-left:10px;
}

@media screen and (max-width:1280px){
	.main-content{
		padding-right:0;
	}
	.content-catalog{
		left:100%;
		padding:10px 15px;
		z-index:222;
		background-color:rgba(0,0,0,.7);
		margin:0;
	}
	.content-catalog.open{
		left:auto;
		right:0;
	}
	.content-catalog ul{
		
	}
	.content-catalog strong{
		position:absolute;
		left:-2.6rem;
		top:0;
		display:inline-block;
		width:2.6rem;
		font-weight:normal;
		padding:8px .8rem;
		border-top-left-radius:10px;
		border-bottom-left-radius:10px;
		background-color:#222;
		color:#fff;
		cursor:pointer;
	}
	.content-wrap{
		margin:0 auto;
		float:none;
	}
}

@media screen and (max-width:900px){
	.content-catalog{
		display:none;
	}
}



.content-header p,.content-header p a,.content code,.content pre,.content blockquote{
	color:#787878;
}
.content a{
	color:#00ADB5;
}
.content table{
	border:1px #ddd solid;
}
.content table tr{
	border-top:1px solid #ddd;
}
.content table thead{
	border-bottom:2px solid #ddd;
}
.content pre,.content code{
	background-color:#F0F0F0;
}
.content blockquote{
	border-left:5px solid #a9a9a9;
}
.content-catalog li.current{
	color:#00ADB5;
}
@media screen and (max-width:1280px){
	.content-catalog{
		background-color:#222;
		color:#fff;
	}
}
.tags a{
	color:#787878;
	border:1px solid #e8e6e6;
}
.tags a:hover{
	border-color:#787878;
}
.post-navigation{

}
.post-navigation:after{
	content:"";
	display:block;
	clear:both;
}
.nav-previous,.nav-next{
	width:50%;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.nav-previous:hover,.nav-next:hover{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;	
}
.nav-previous a,.nav-next a{
	width:100%;
	display:block;
	padding:10px 0;
}
.nav-previous{
	float:left;
	text-align:left;
}
.nav-next{
	float:right;
	text-align:right;
}
.post-options{
	position:relative;
	float:right;
}
.post-options li{
	display:inline-block;
	width:36px;
	height:36px;
	line-height:36px;
	font-size:1.5rem;
	text-align:center;
	color:#ccc;
	position:relative;
	
}
.post-options li i{
	cursor:pointer;
}
.icon-number{
	position:absolute;
	background-color:rgba(0,0,0,.5);
	color:#fff;
	line-height:22px;
	font-size:.8rem;
	text-align:center;
	border-radius:50%;
	top:-23px;
	left:7px;
	border-radius:3px;
	padding:0 5px;
}
.icon-number:before{
	content:"";
    border-style: solid;
    border-width:5px 3px 0 3px ;
    border-color:rgba(0,0,0,.5) transparent transparent transparent;
    position: absolute;
    top: 22px;
    left: 50%;
	margin-left:-2.5px;
    width: 0;
    height: 0;
}
.post-like-on{
	color:#d9534f;
}

